@charset "UTF-8";
/*
 * lib/css/reset.css
 *
*/
html {
	overflow-y: scroll;
}

fieldset, img {
	border: none;
	vertical-align: top;
}

ul, ol {
	list-style-type: none;
}

address, caption, cite, code, dfn, em, var {
	font-style: normal;
}

caption, th {
	text-align: left;
}

a {
	outline: none;
}

/*-----------------------------------------------------------
		余白初期設定
-----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6,
html, body, div,
p, ul, ol, li, dl, dt, dd,
pre, blockquote,
form, fieldset, input, textarea,
table, th, td, figure {
	margin: 0;
	padding: 0;
}

/*-----------------------------------------------------------
		その他初期設定
-----------------------------------------------------------*/
q:before, q:after {
	content: '';
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	color: #000;
}
@media (max-width: 1060px) {
	:root {
		-webkit-text-size-adjust: 100%;
		-moz-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		text-size-adjust: 100%;
	}
}

body {
	color: #000;
	line-height: 1.5;
	font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	font-size: 13px;
}
@media (max-width: 1060px) {
	body {
		-webkit-text-size-adjust: 100%;
		-moz-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		text-size-adjust: 100%;
		min-width: 640px;
		font-size: 24px;
	}
}

@media (max-width: 1060px) {
	#colorbox, #colorbox * {
		max-height: none;
	}

	#gnavi, #gnavi * {
		max-height: none;
	}

	img {
		max-height: none;
		max-width: 100%;
	}
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}

button, fieldset, form, input, label, legend, select, textarea {
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
}

a {
	text-decoration: none;
	-webkit-transition: opacity 0.8s;
	-o-transition: opacity 0.8s;
	transition: opacity 0.8s;
	color: #000;
}
@media (min-width: 1061px) {
	a:hover {
		color: #000;
		opacity: 0.5;
	}
	a:visited {
		color: #000;
	}
	a:active {
		text-decoration: none;
	}
}

[type=text], [type=email], [type=tel], [type=password], [type=number], textarea, select {
	padding: 5px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-radius: 0px;
}

select {
	max-width: 100%;
	height: 2.5em;
	padding-right: 8%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0px;
	border: 1px solid #ddd;
	background: #fff url(../img/common/arrow.svg) 96% center no-repeat;
	background-size: 12px;
}

select::-ms-expand {
	display: none;
}

[type=text], [type=email], [type=tel], [type=password], [type=number], textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

[type=text]:focus, [type=email]:focus, [type=password]:focus, [type=number]:focus, textarea:focus {
	background: #fff;
	border: 1px solid #aaa;
}

input[type=checkbox] {
	display: none;
}

[type=checkbox] + label:before {
	content: "";
	display: inline-block;
	margin-right: 5px;
	height: 14px;
	width: 14px;
	background: #f9f9f9;
	border: 1px solid #3589B7;
	vertical-align: middle;
}
@media (max-width: 1060px) {
	[type=checkbox] + label:before {
		margin-right: 0.5em;
		width: 22px;
		height: 22px;
	}
}

[type=checkbox]:checked + label:before {
	content: "\2713";
	font-size: 18px;
	font-weight: bold;
	line-height: 14px;
	text-indent: -3px;
	color: #000;
}

input[type=radio] {
	vertical-align: middle;
}

input[type=radio] + label {
	margin-left: 5px;
}

:placeholder-shown {
	color: #BABABA;
}

/* Google Chrome, Safari, Opera 15+, Android, iOS */
::-webkit-input-placeholder {
	color: #BABABA;
}

/* Firefox 18- */
:-moz-placeholder {
	color: #BABABA;
	opacity: 1;
}

/* Firefox 19+ */
::-moz-placeholder {
	color: #BABABA;
	opacity: 1;
}

/* IE 10+ */
:-ms-input-placeholder {
	color: #BABABA;
}

/*-----------------------------------------------------------
		基本レイアウト
-----------------------------------------------------------*/
body {
	overflow-x: hidden;
}
@media (max-width: 1060px) {
	body {
		padding-top: 126px;
	}
}
body.lock {
	height: 100vh;
	overflow: hidden;
	padding: 0px !important;
}
body.lock header {
	height: 100vh;
}

.wrap {
	position: relative;
	width: 1000px;
	margin: 0px auto;
}
@media (max-width: 1060px) {
	.wrap {
		width: auto;
		margin: 0px 30px;
	}
}

.linkbox {
	cursor: pointer;
}
@media (min-width: 1061px) {
	.linkbox {
		-webkit-transition: opacity 0.8s;
		-o-transition: opacity 0.8s;
		transition: opacity 0.8s;
	}
	.linkbox:hover {
		opacity: 0.5;
	}
}

.sp {
	display: none;
}
@media (max-width: 1060px) {
	.sp {
		display: inherit;
	}
}

@media (max-width: 1060px) {
	.pc {
		display: none !important;
	}
}
/*----------------------- header --------------------------*/
header {
	position: relative;
	z-index: 1000;
}
@media (max-width: 1060px) {
	header {
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		z-index: 1000;
		overflow: auto;
	}
}
header .logo {
	display: table;
	max-width: 30%;
	padding: 10px;
}
@media (max-width: 1060px) {
	header .logo {
		display: block;
		max-width: none;
		padding: 0px;
	}
}
header .logo .title, header .logo p {
	display: table-cell;
	vertical-align: middle;
}
@media (max-width: 1060px) {
	header .logo .title, header .logo p {
		display: block;
	}
}
@media (max-width: 1060px) {
	header .logo .title {
		position: relative;
		min-height: 80px;
	}
	header .logo .title img {
		position: absolute;
		left: 10px;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		max-width: 340px;
		max-height: 70px;
	}
}
header .logo p {
	padding-left: 1.5em;
}
@media (max-width: 1060px) {
	header .logo p {
		padding: 0.3em 0px;
		font-size: 22px;
		text-align: center;
	}
}
header #gnavi {
	position: absolute;
	right: 1em;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
@media (max-width: 1060px) {
	header #gnavi {
		display: none;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		position: fixed;
		left: 0px;
		right: 0px;
		top: 0px;
		height: 100vh;
		z-index: 2000;
		padding-top: 60px;
		overflow: auto;
	}
}
header #gnavi li {
	position: relative;
	float: left;
	margin-left: 1.5em;
}
@media (max-width: 1060px) {
	header #gnavi li {
		float: none;
		margin-left: 0px;
		border-bottom: 1px solid #fff;
	}
}
header #gnavi li a {
	display: block;
	padding: 1em;
	font-size: 14px;
}
@media (max-width: 1060px) {
	header #gnavi li a {
		padding: 0.8em 1em;
		font-size: 32px;
	}
}
@media (min-width: 1061px) {
	header #gnavi li ul.sub-menu {
		position: absolute;
		top: 100%;
		width: 250px;
		visibility: hidden;
		opacity: 0;
		z-index: 1;
		background: #fff;
		-webkit-transition: all .2s ease;
		-o-transition: all .2s ease;
		transition: all .2s ease;
	}
	header #gnavi li ul.sub-menu li {
		float: none;
		min-height: 0px;
		margin: 0px;
		position: relative;
		border-top: 1px solid #eee;
	}
	header #gnavi li ul.sub-menu li:hover > ul.sub-menu {
		top: -2px;
		right: 250px;
	}
	header #gnavi li ul.sub-menu li a {
		padding: 0.8em 1em;
		font-weight: normal;
	}
	header #gnavi li ul.sub-menu ul.sub-menu {
		top: 0px;
		right: 150px;
	}
	header #gnavi li:hover > ul.sub-menu {
		-webkit-transition: all .5s;
		-o-transition: all .5s;
		transition: all .5s;
		border: 1px solid #eee;
		border-top: none;
		visibility: visible;
		opacity: 1;
	}
}
@media (max-width: 1060px) {
	header #gnavi li ul.sub-menu {
		border-top: 1px solid #fff;
	}
	header #gnavi li ul.sub-menu li {
		border-bottom: 1px solid #fff;
	}
	header #gnavi li ul.sub-menu li:last-child {
		border: none;
	}
	header #gnavi li ul.sub-menu li a {
		padding-left: 2em;
		color: #000;
		font-size: 28px;
		background-repeat: no-repeat;
		background-position: 1em center;
		background-size: 8px auto;
	}
}
@media (max-width: 1060px) {
	header #gnavi .title {
		text-align: center;
	}
	header #gnavi .text {
		padding: 0.3em 0px 0px;
		text-align: center;
	}
	header #gnavi .cbtn {
		margin-top: 30px;
		margin-bottom: 30px;
		text-align: center;
	}
	header #gnavi .menuFoot {
		text-align: center;
	}
	header #gnavi .addr {
		padding: 1.5em 1em;
	}
	header #gnavi .submenu {
		padding: 2em 0px 1em;
		font-size: 19px;
	}
	header #gnavi .copy {
		padding-bottom: 220px;
		font-size: 19px;
	}
}
header .menu {
	display: none;
	position: absolute;
	right: 25px;
	top: 25px;
	width: 45px;
	height: 32px;
	z-index: 3000;
	cursor: pointer;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
@media (max-width: 1060px) {
	header .menu {
		display: block;
	}
}
header .menu span {
	display: inline-block;
	position: absolute;
	left: 0px;
	width: 45px;
	height: 4px;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
header .menu span:nth-of-type(1) {
	top: 0px;
	-webkit-animation: menu-bar01 .75s forwards;
	animation: menu-bar01 .75s forwards;
}
header .menu span:nth-of-type(2) {
	top: 14px;
	-webkit-transition: all .25s .25s;
	-o-transition: all .25s .25s;
	transition: all .25s .25s;
	opacity: 1;
}
header .menu span:nth-of-type(3) {
	bottom: 0px;
	-webkit-animation: menu-bar02 .75s forwards;
	animation: menu-bar02 .75s forwards;
}
header .menu.active span:nth-of-type(1) {
	-webkit-animation: active-menu-bar01 .75s forwards;
	animation: active-menu-bar01 .75s forwards;
}
header .menu.active span:nth-of-type(2) {
	opacity: 0;
}
header .menu.active span:nth-of-type(3) {
	-webkit-animation: active-menu-bar03 .75s forwards;
	animation: active-menu-bar03 .75s forwards;
}

@media (max-width: 1060px) {
	@-webkit-keyframes menu-bar01 {
		0% {
			-webkit-transform: translateY(14px) rotate(45deg);
			transform: translateY(14px) rotate(45deg);
		}
		50% {
			-webkit-transform: translateY(14px) rotate(0);
			transform: translateY(14px) rotate(0);
		}
		100% {
			-webkit-transform: translateY(0) rotate(0);
			transform: translateY(0) rotate(0);
		}
	}
	@keyframes menu-bar01 {
		0% {
			-webkit-transform: translateY(14px) rotate(45deg);
			transform: translateY(14px) rotate(45deg);
		}
		50% {
			-webkit-transform: translateY(14px) rotate(0);
			transform: translateY(14px) rotate(0);
		}
		100% {
			-webkit-transform: translateY(0) rotate(0);
			transform: translateY(0) rotate(0);
		}
	}
	@-webkit-keyframes menu-bar02 {
		0% {
			-webkit-transform: translateY(-14px) rotate(-45deg);
			transform: translateY(-14px) rotate(-45deg);
		}
		50% {
			-webkit-transform: translateY(-14px) rotate(0);
			transform: translateY(-14px) rotate(0);
		}
		100% {
			-webkit-transform: translateY(0) rotate(0);
			transform: translateY(0) rotate(0);
		}
	}
	@keyframes menu-bar02 {
		0% {
			-webkit-transform: translateY(-14px) rotate(-45deg);
			transform: translateY(-14px) rotate(-45deg);
		}
		50% {
			-webkit-transform: translateY(-14px) rotate(0);
			transform: translateY(-14px) rotate(0);
		}
		100% {
			-webkit-transform: translateY(0) rotate(0);
			transform: translateY(0) rotate(0);
		}
	}
	@-webkit-keyframes active-menu-bar01 {
		0% {
			-webkit-transform: translateY(0) rotate(0);
			transform: translateY(0) rotate(0);
		}
		50% {
			-webkit-transform: translateY(14px) rotate(0);
			transform: translateY(14px) rotate(0);
		}
		100% {
			-webkit-transform: translateY(14px) rotate(45deg);
			transform: translateY(14px) rotate(45deg);
		}
	}
	@keyframes active-menu-bar01 {
		0% {
			-webkit-transform: translateY(0) rotate(0);
			transform: translateY(0) rotate(0);
		}
		50% {
			-webkit-transform: translateY(14px) rotate(0);
			transform: translateY(14px) rotate(0);
		}
		100% {
			-webkit-transform: translateY(14px) rotate(45deg);
			transform: translateY(14px) rotate(45deg);
		}
	}
	@-webkit-keyframes active-menu-bar03 {
		0% {
			-webkit-transform: translateY(0) rotate(0);
			transform: translateY(0) rotate(0);
		}
		50% {
			-webkit-transform: translateY(-14px) rotate(0);
			transform: translateY(-14px) rotate(0);
		}
		100% {
			-webkit-transform: translateY(-14px) rotate(-45deg);
			transform: translateY(-14px) rotate(-45deg);
		}
	}
	@keyframes active-menu-bar03 {
		0% {
			-webkit-transform: translateY(0) rotate(0);
			transform: translateY(0) rotate(0);
		}
		50% {
			-webkit-transform: translateY(-14px) rotate(0);
			transform: translateY(-14px) rotate(0);
		}
		100% {
			-webkit-transform: translateY(-14px) rotate(-45deg);
			transform: translateY(-14px) rotate(-45deg);
		}
	}
}
/*----------------------- content --------------------------*/
article {
	position: relative;
}

.pan {
	position: absolute;
	left: 20px;
	top: 1em;
	font-size: 10px;
}
.pan a {
	margin-right: 5px;
}
@media (max-width: 1060px) {
	.pan {
		display: none;
	}
}

.wp-pagenavi {
	clear: both;
	padding: 20px 0px 40px;
	text-align: center;
	line-height: 2;
	font-weight: bold;
}
@media (max-width: 1060px) {
	.wp-pagenavi {
		font-size: 22px;
	}
}
.wp-pagenavi a, .wp-pagenavi .current, .wp-pagenavi span {
	display: inline-block;
	width: 2em;
	height: 2em;
	margin: 0px 0.5em;
	background: #fff;
	vertical-align: middle;
	text-align: center;
	line-height: 2;
}
.wp-pagenavi a.nextpostslink, .wp-pagenavi a.previouspostslink, .wp-pagenavi a.extend, .wp-pagenavi .current.nextpostslink, .wp-pagenavi .current.previouspostslink, .wp-pagenavi .current.extend, .wp-pagenavi span.nextpostslink, .wp-pagenavi span.previouspostslink, .wp-pagenavi span.extend {
	background: none;
	border: none;
}
.wp-pagenavi .current {
	background: #ebebeb;
}

.pager {
	clear: both;
	padding: 20px 0px 0px;
	text-align: center;
	line-height: 1;
	font-size: 16px;
}
@media (max-width: 1060px) {
	.pager {
		font-size: 20px;
	}
}
.pager a {
	display: inline-block;
	margin: 0 1em;
}
@media (max-width: 1060px) {
	.pager a {
		margin: 0px 0.5em;
	}
}

.noitem {
	padding: 250px 0px;
	font-size: 16px;
	text-align: center;
}
@media (max-width: 1060px) {
	.noitem {
		font-size: 24px;
	}
}

/*----------------------- footer --------------------------*/
@media (max-width: 1060px) {
	footer {
		position: relative;
		margin-top: 60px;
	}
}
footer .pagetop {
	position: fixed;
	right: 20px;
	bottom: 50px;
	z-index: 100;
	opacity: 0;
}
@media (max-width: 1060px) {
	footer .pagetop {
		position: absolute;
		left: 50%;
		top: 0px;
		right: auto;
		bottom: auto;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		opacity: 1;
	}
}
footer .fixd {
	position: fixed;
	right: 0px;
	top: 200px;
	z-index: 100;
	font-size: 0px;
	line-height: 0px;
}
@media (max-width: 1060px) {
	footer .fixd {
		left: 0px;
		top: auto;
		bottom: 0px;
	}
	footer .fixd a {
		display: block;
		float: left;
		width: 50%;
	}
}
footer .addr {
	float: left;
	width: 30%;
	padding: 35px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
@media (max-width: 1060px) {
	footer .addr {
		float: none;
		width: auto;
		padding: 70px 30px 0px;
		text-align: center;
	}
}
footer .addr .title {
	margin-bottom: 0.5em;
}
@media (max-width: 1060px) {
	footer .addr .title img {
		margin: 0px auto;
	}
}
footer .addr .text {
	margin-bottom: 1em;
}
footer .fnavi {
	float: right;
	width: 70%;
	padding: 35px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
@media (max-width: 1060px) {
	footer .fnavi {
		float: none;
		width: auto;
		padding: 0px;
	}
}
footer .fnavi > ul > li {
	float: left;
	width: 25%;
}
@media (max-width: 1060px) {
	footer .fnavi > ul > li {
		float: none;
		width: auto;
		margin-bottom: 1px;
	}
}
footer .fnavi > ul > li > a {
	font-size: 15px;
	font-weight: bold;
}
@media (max-width: 1060px) {
	footer .fnavi > ul > li > a {
		display: block;
		padding: 0.7em 1em;
		font-size: 32px;
	}
}
footer .fnavi > ul .sub-menu {
	padding-top: 0.5em;
}
@media (max-width: 1060px) {
	footer .fnavi > ul .sub-menu {
		padding: 0px;
	}
}
footer .fnavi > ul .sub-menu .sub-menu {
	padding-left: 1em;
}
@media (max-width: 1060px) {
	footer .fnavi > ul .sub-menu .sub-menu {
		padding: 0px;
	}
}
footer .fnavi > ul .sub-menu li {
	margin-bottom: 0.3em;
}
@media (max-width: 1060px) {
	footer .fnavi > ul .sub-menu li {
		border-bottom: 1px solid #fff;
	}
}
footer .fnavi > ul .sub-menu a {
	padding-left: 15px;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 4px auto;
}
@media (max-width: 1060px) {
	footer .fnavi > ul .sub-menu a {
		display: block;
		padding: 1em 1em 1em 2em;
		background-size: 10px auto;
		background-position: 1em center;
	}
}
@media (max-width: 1060px) {
	footer address {
		padding: 2em 30px;
		text-align: center;
	}
}
footer .end {
	clear: both;
	position: relative;
}
footer .end .copy {
	padding: 1.2em 1em;
}
@media (max-width: 1060px) {
	footer .end .copy {
		padding: 0px 30px 1.5em;
		font-size: 22px;
		text-align: center;
	}
}
footer .end .copy img {
	margin-right: 0.5em;
	vertical-align: middle;
}
@media (max-width: 1060px) {
	footer .end .copy img {
		display: none;
	}
}
footer .end .subnavi {
	position: absolute;
	right: 1em;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
@media (max-width: 1060px) {
	footer .end .subnavi {
		position: static;
		margin-bottom: 0.7em;
		padding-top: 1.5em;
		text-align: center;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}
}

/*-----------------------------------------------------------
	クリアフィックス
-----------------------------------------------------------*/
.clearfix:after {
	content: "";
	display: block;
	clear: both;
	height: 0px;
	visibility: hidden;
}

* html .clearfix {
	zoom: 1;
}

*:first-child + html .clearfix {
	zoom: 1;
}

/*-----------------------------------------------------------
	 index
-----------------------------------------------------------*/
#topSlider {
	position: relative;
	height: 600px;
}
@media (max-width: 1060px) {
	#topSlider {
		min-height: 530px;
		height: auto;
	}
}
#topSlider .item {
	display: none;
	position: absolute;
	left: 0px;
	top: -200px;
	width: 100%;
	height: 800px;
	overflow: hidden;
	text-align: center;
}
#topSlider .item:first-child {
	display: block;
}
@media (max-width: 1060px) {
	#topSlider .item {
		height: 530px;
	}
}
#topSlider .item .bg {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-position: center;
	background-repeat: no-repeat;
}
#topSlider .item a {
	display: block;
	width: 100%;
	height: 700px;
}
@media (max-width: 1060px) {
	#topSlider .item a {
		height: 530px;
	}
}
#topSlider .marker {
	position: absolute;
	left: 0px;
	bottom: 20px;
	z-index: 100;
	width: 100%;
	text-align: center;
	font-size: 0px;
	line-height: 0px;
}
@media (max-width: 1060px) {
	#topSlider .marker {
		position: static;
		padding-top: 550px;
		padding-bottom: 20px;
	}
}
#topSlider .marker li {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0px 5px;
	border-radius: 7px;
}
@media (max-width: 1060px) {
	#topSlider .marker li {
		width: 24px;
		height: 24px;
		margin: 0px 10px;
		border-radius: 12px;
	}
}

/*-----------------------------------------------------------
		blog page css
-----------------------------------------------------------*/
#news .catnav {
	padding-top: 40px;
	text-align: center;
	font-size: 14px;
}
@media (max-width: 1060px) {
	#news .catnav {
		padding: 50px 30px 0px;
		font-size: 22px;
	}
}
#news .catnav li {
	display: inline-block;
	padding: 0px 1em;
	line-height: 1.2;
}
@media (max-width: 1060px) {
	#news .catnav li {
		margin-bottom: 0.5em;
	}
}
#news .list {
	padding-bottom: 20px;
}
#news .list .items {
	padding-top: 45px;
}
#news .list .items .item {
	float: left;
	width: 235px;
	margin: 0px 20px 40px 0px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
@media (min-width: 1061px) {
	#news .list .items .item:nth-child(4n) {
		margin-right: 0px;
	}
	#news .list .items .item:nth-child(4n) + .item {
		clear: both;
	}
}
@media (max-width: 1060px) {
	#news .list .items .item {
		width: 100%;
		margin-right: 0;
		margin-bottom: 40px;
	}
}
#news .list .items .item figure img {
	width: 100%;
}
#news .list .items .item .date {
	padding: 1em 0px 0.5em;
	font-size: 12px;
}
@media (max-width: 1060px) {
	#news .list .items .item .date {
		font-size: 20px;
	}
}
#news .list .items .item h3 {
	min-height: 2.4em;
	font-size: 16px;
	line-height: 1.2;
}
@media (max-width: 1060px) {
	#news .list .items .item h3 {
		min-height: 0px;
		font-size: 26px;
	}
}
#news .list .items .item .text {
	padding: 0.3em 0px 1em;
	min-height: 3em;
}
@media (max-width: 1060px) {
	#news .list .items .item .text {
		min-height: 0px;
	}
}
#news .list .items .item .more a {
	display: block;
	padding: 1em 0px;
	text-align: center;
	font-weight: bold;
	line-height: 1;
}
@media (max-width: 1060px) {
	#news .list .items .item .more a {
		font-size: 22px;
	}
}
#news .detail {
	padding-bottom: 60px;
}
#news .detail .inbox {
	padding-top: 45px;
}
#news .detail .cat {
	margin-bottom: 0.5em;
}
#news .detail h2 {
	padding: 0em 0px 0.5em;
	font-size: 22px;
	color: #358F18;
}
@media (max-width: 1060px) {
	#news .detail h2 {
		font-size: 32px;
	}
}
#news .detail .entry {
	clear: both;
	padding: 0px 0px 50px;
}

/*------------------- エントリーリセット ---------------------*/
#tinymce {
	padding: 20px;
}

.entry, #tinymce {
	word-wrap: break-word;
	line-height: 2;
	font-size: 14px;
}
@media (max-width: 1060px) {
	.entry, #tinymce {
		font-size: 24px;
	}
}
.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6, #tinymce h1, #tinymce h2, #tinymce h3, #tinymce h4, #tinymce h5, #tinymce h6 {
	position: static;
	clear: both;
	float: none;
	height: auto;
	min-height: 1px;
	margin: 0 0 1em;
	padding: 0px;
	background: none;
	border: none;
	color: #333;
	text-shadow: 1px 1px 0 #fff;
}
.entry h1, #tinymce h1 {
	font-size: 145.5%;
}
.entry h2, #tinymce h2 {
	font-size: 136.4%;
}
.entry h3, #tinymce h3 {
	font-size: 127.3%;
}
.entry h4, #tinymce h4 {
	font-size: 127.3%;
}
.entry h5, #tinymce h5 {
	font-size: 118.2%;
}
.entry h6, #tinymce h6 {
	font-size: 100%;
}
.entry strong, .entry b, #tinymce strong, #tinymce b {
	font-weight: bold;
}
.entry p, #tinymce p {
	margin: 0em 0em 2em 0em;
}
.entry em, #tinymce em {
	font-style: italic;
}
.entry ol, #tinymce ol {
	margin: 1em 2em 1em;
}
.entry ul, #tinymce ul {
	margin: 1em 0 1em;
}
.entry ul li, #tinymce ul li {
	margin: 0em 0em 0.5em 1em;
}
.entry ol li, #tinymce ol li {
	margin: 0em 0em 0.5em 0em;
}
.entry ul, #tinymce ul {
	list-style: disc;
}
.entry ol, #tinymce ol {
	list-style: decimal;
}
.entry dl, #tinymce dl {
	margin: 1em 0;
}
.entry dd, #tinymce dd {
	margin-left: 2em;
}
.entry table.wp-oembed,
.entry table.wp-oembed td, #tinymce table.wp-oembed,
#tinymce table.wp-oembed td {
	border: none;
}
.entry table caption, #tinymce table caption {
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}
.entry table, #tinymce table {
	clear: both;
	width: 99%;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 1em 0 2em;
}
.entry table th, #tinymce table th {
	padding: 0.5em;
	background: #f5f5f5;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}
.entry table td, #tinymce table td {
	padding: .5em;
}
.entry img, #tinymce img {
	max-width: 100%;
	height: auto;
	margin-bottom: 2em;
}
.entry img.aligncenter, #tinymce img.aligncenter {
	clear: both;
	display: block;
	margin: auto;
}
.entry a, #tinymce a {
	text-decoration: underline;
}
.entry iframe, #tinymce iframe {
	max-width: 100%;
}
@media (min-width: 1061px) {
	.entry img.alignleft, #tinymce img.alignleft {
		float: left;
		margin-right: 2em;
	}
	.entry img.alignright, #tinymce img.alignright {
		float: right;
		margin-left: 2em;
	}
}

/*-----------------------------------------------------------
		products page css
-----------------------------------------------------------*/
#products .catnav {
	padding-top: 40px;
	text-align: center;
	font-size: 14px;
}
@media (max-width: 1060px) {
	#products .catnav {
		padding: 50px 30px 0px;
		font-size: 22px;
	}
}
#products .catnav li {
	display: inline-block;
	padding: 0px 1em;
	line-height: 1.2;
}
@media (max-width: 1060px) {
	#products .catnav li {
		margin-bottom: 0.5em;
	}
}
#products .items {
	padding-top: 45px;
}
#products .detail {
	padding-bottom: 60px;
}
#products .detail .inbox {
	padding-top: 45px;
}
#products .detail .cat {
	margin-bottom: 1em;
	font-size: 14px;
}
@media (max-width: 1060px) {
	#products .detail .cat {
		font-size: 22px;
	}
}
#products .detail h2 {
	margin-bottom: 1em;
	padding: 0.5em 0.8em;
	font-size: 17px;
}
@media (max-width: 1060px) {
	#products .detail h2 {
		font-size: 28px;
	}
}
#products .detail .images {
	position: relative;
	margin-bottom: 40px;
}
@media (max-width: 1060px) {
	#products .detail .images {
		float: none;
		width: 100%;
	}
}
#products .detail .images .show {
	position: relative;
	float: left;
	width: 820px;
}
@media (max-width: 1060px) {
	#products .detail .images .show {
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}
}
#products .detail .images .show img {
	width: 100%;
	height: auto;
}
#products .detail .images .thum {
	float: right;
	width: 150px;
}
@media (max-width: 1060px) {
	#products .detail .images .thum {
		float: none;
		width: 100%;
		font-size: 0px;
		line-height: 0px;
		text-align: center;
	}
}
#products .detail .images .thum li {
	border: none;
	padding: 0px;
	margin: 0px 0px 25px;
}
#products .detail .images .thum li img {
	width: 100%;
	height: auto;
}
@media (max-width: 1060px) {
	#products .detail .images .thum li {
		display: inline-block;
		width: 18%;
		margin: 0px 2.5% 10px 0px;
	}
	#products .detail .images .thum li:nth-child(5n) {
		margin-right: 0px;
	}
}
#products .detail .images .thum li a {
	padding: 0px;
	min-height: 0px;
}
#products .detail .data {
	clear: both;
	margin-bottom: 40px;
}
#products .detail .data h3 {
	margin-bottom: 0.7em;
	font-size: 14px;
}
@media (max-width: 1060px) {
	#products .detail .data h3 {
		font-size: 28px;
	}
}
#products .detail .data table {
	width: 100%;
}
#products .detail .data table th, #products .detail .data table td {
	padding: 1em 0em;
	font-weight: normal;
}
@media (max-width: 1060px) {
	#products .detail .data table th, #products .detail .data table td {
		display: block;
	}
}
#products .detail .data table th {
	width: 12em;
}
@media (max-width: 1060px) {
	#products .detail .data table th {
		width: auto;
		padding-bottom: 0px;
		border-bottom: none !important;
		font-weight: bold;
	}
}
#products .detail .free {
	clear: both;
	margin-bottom: 40px;
}
#products .detail .free h3 {
	margin-bottom: 0.5em;
	font-size: 21px;
	font-weight: normal;
}
@media (max-width: 1060px) {
	#products .detail .free h3 {
		font-size: 26px;
	}
}
@media (min-width: 1061px) {
	#products .detail .free .top {
		max-width: 100%;
		height: auto;
		margin-bottom: 20px;
		text-align: center;
	}
	#products .detail .free .left {
		max-width: 50%;
		height: auto;
		float: left;
		margin: 0px 20px 20px 0px;
	}
	#products .detail .free .right {
		max-width: 50%;
		height: auto;
		float: right;
		margin: 0px 0px 20px 20px;
	}
}
#products .detail .free img {
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
}
#products .detail .free p {
	line-height: 2;
}

/*-----------------------------------------------------------
	 template
-----------------------------------------------------------*/
article #pageTitle {
	padding: 2em 0px;
	font-size: 22px;
	letter-spacing: 0.1em;
	background-repeat: no-repeat;
	background-position: center;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
}
@media (max-width: 1060px) {
	article #pageTitle {
		padding: 1.5em 0px;
		font-size: 30px;
	}
}
article #pageTitle.imgTitle {
	padding: 5.5em 0px;
	font-size: 40px;
}
@media (max-width: 1060px) {
	article #pageTitle.imgTitle {
		padding: 3em 0px;
		font-size: 36px;
	}
}
article .box {
	padding: 40px 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
article .box h2 {
	font-size: 22px;
	margin-bottom: 1em;
}
@media (max-width: 1060px) {
	article .box h2 {
		font-size: 32px;
		text-align: center;
	}
}
article .box h2 .icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 1em;
}
@media (max-width: 1060px) {
	article .box h2 .icon {
		display: block;
		margin: 0px 0px 0.5em;
	}
}
article .box .head {
	position: relative;
}
article .box .catch, article .box .catlist {
	position: absolute;
	right: 0px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
@media (max-width: 1060px) {
	article .box .catch, article .box .catlist {
		position: static;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		text-align: center;
	}
}
article .box .catch {
	font-size: 22px;
}
@media (max-width: 1060px) {
	article .box .catch {
		margin-bottom: 1em;
		font-size: 28px;
	}
}
@media (max-width: 1060px) {
	article .box .catlist {
		margin-bottom: 30px;
		font-size: 0px;
		line-height: 0px;
	}
}
article .box .catlist li {
	float: left;
	line-height: 1.2;
}
@media (max-width: 1060px) {
	article .box .catlist li {
		display: inline-block;
		float: none;
		font-size: 24px;
	}
}
article .box .catlist li a {
	display: block;
	padding: 0px 1em;
}
article .box .read {
	margin-bottom: 1em;
	font-size: 15px;
	line-height: 2;
}
@media (max-width: 1060px) {
	article .box .read {
		font-size: 24px;
	}
}
article .box figure {
	margin-bottom: 1.5em;
}
article .box img {
	max-width: 100%;
}
article .box .text {
	margin-bottom: 1.5em;
	font-size: 15px;
	line-height: 2;
}
@media (max-width: 1060px) {
	article .box .text {
		font-size: 24px;
	}
}
article .box .more {
	clear: both;
	text-align: center;
}
article .box .more a {
	display: inline-block;
	padding: 1em 5em;
	line-height: 1;
	font-size: 19px;
	font-weight: bold;
}
@media (max-width: 1060px) {
	article .box .more a {
		display: block;
		padding: 1em;
		font-size: 30px;
	}
}
article .carouselbox .wrap {
	height: 600px;
}
@media (max-width: 1060px) {
	article .carouselbox .wrap {
		min-height: 350px;
		height: auto;
	}
}
article .carouselbox .item {
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 600px;
	overflow: hidden;
	text-align: center;
}
article .carouselbox .item:first-child {
	display: block;
}
@media (max-width: 1060px) {
	article .carouselbox .item {
		height: 350px;
	}
}
article .carouselbox .item a {
	display: block;
}
article .carouselbox .item a img {
	max-width: 100%;
}
article .carouselbox .marker {
	position: absolute;
	left: 0px;
	bottom: 20px;
	z-index: 100;
	width: 100%;
	text-align: center;
	font-size: 0px;
	line-height: 0px;
}
article .carouselbox .marker li {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0px 5px;
	border-radius: 7px;
}
@media (max-width: 1060px) {
	article .carouselbox .marker li {
		width: 24px;
		height: 24px;
		margin: 0px 10px;
		border-radius: 12px;
	}
}
article .carouselbox .prev, article .carouselbox .next {
	position: absolute;
	top: 50%;
	z-index: 100;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
article .carouselbox .prev a, article .carouselbox .next a {
	display: block;
	width: 60px;
	height: 60px;
}
article .carouselbox .prev a:before, article .carouselbox .next a:before {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	content: "";
	width: 30px;
	height: 30px;
	vertical-align: middle;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
article .carouselbox .next {
	right: -70px;
}
@media (max-width: 1060px) {
	article .carouselbox .next {
		right: 0px;
	}
}
article .carouselbox .next a:before {
	left: 0px;
}
@media (max-width: 1060px) {
	article .carouselbox .next a:before {
		border-top: 5px solid #fff !important;
		border-right: 5px solid #fff !important;
	}
}
article .carouselbox .prev {
	left: -70px;
}
@media (max-width: 1060px) {
	article .carouselbox .prev {
		left: 0px;
	}
}
article .carouselbox .prev a:before {
	right: 0px;
}
@media (max-width: 1060px) {
	article .carouselbox .prev a:before {
		border-left: 5px solid #fff !important;
		border-bottom: 5px solid #fff !important;
	}
}
article .newsbox .list {
	margin-bottom: 30px;
}
article .newsbox .list li {
	padding-right: 1em;
}
@media (max-width: 1060px) {
	article .newsbox .list li {
		position: relative;
		padding-right: 0px;
	}
}
article .newsbox .list li a {
	display: block;
	padding: 0.8em 0px;
	background-position: right center;
	background-repeat: no-repeat;
}
@media (max-width: 1060px) {
	article .newsbox .list li a {
		background: none !important;
	}
}
article .newsbox .list li a .cat {
	display: inline-block;
	margin-right: 1em;
	padding: 0.2em 1em;
	font-size: 12px;
	font-weight: bold;
}
@media (max-width: 1060px) {
	article .newsbox .list li a .cat {
		margin: 0px;
		font-size: 22px;
	}
}
article .newsbox .list li a .date {
	margin-left: 1em;
}
@media (max-width: 1060px) {
	article .newsbox .list li a .date {
		position: absolute;
		right: 0px;
		top: 1em;
	}
}
@media (max-width: 1060px) {
	article .newsbox .list li a .ptitle {
		display: block;
		margin-top: 0.5em;
		background-position: right center;
		background-repeat: no-repeat;
		background-size: 10px auto;
	}
}
article .bannerbox .items .item {
	float: left;
	margin-bottom: 30px;
}
@media (max-width: 1060px) {
	article .bannerbox .items .item {
		float: none;
	}
}
article .bannerbox .items .item figure {
	margin-bottom: 0px;
}
article .bannerbox .items .item figure img {
	width: 100%;
}
article .bannerbox .items .item .textbox {
	padding: 1.2em 1em;
	min-height: 11.3em;
}
@media (max-width: 1060px) {
	article .bannerbox .items .item .textbox {
		min-height: 0px;
	}
}
article .bannerbox .items .item h3 {
	text-align: center;
	font-weight: normal;
	font-size: 18px;
}
@media (max-width: 1060px) {
	article .bannerbox .items .item h3 {
		font-size: 38px;
	}
}
article .bannerbox .items .item p {
	margin-top: 0.3em;
}
@media (max-width: 1060px) {
	article .bannerbox .items .item p {
		font-size: 26px;
	}
}
@media (min-width: 1061px) {
	article .bannerbox.column4 .item {
		width: 230px;
		margin-right: 26px;
	}
	article .bannerbox.column4 .item:nth-child(4n) {
		margin-right: 0px;
	}
	article .bannerbox.column4 .item:nth-child(4n) + .item {
		clear: both;
	}
	article .bannerbox.column3 .item {
		width: 316px;
		margin-right: 26px;
	}
	article .bannerbox.column3 .item:nth-child(3n) {
		margin-right: 0px;
	}
	article .bannerbox.column3 .item:nth-child(3n) + .item {
		clear: both;
	}
	article .bannerbox.column2 .item {
		width: 485px;
		margin-right: 30px;
	}
	article .bannerbox.column2 .item:nth-child(2n) {
		margin-right: 0px;
	}
	article .bannerbox.column2 .item:nth-child(2n) + .item {
		clear: both;
	}
	article .bannerbox.column1 .item {
		float: none;
	}
}
article .productsbox .items .item {
	position: relative;
	float: left;
	width: 316px;
	margin-bottom: 30px;
	margin-right: 26px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
@media (min-width: 1061px) {
	article .productsbox .items .item:nth-child(3n) {
		margin-right: 0px;
	}
	article .productsbox .items .item:nth-child(3n) + .item {
		clear: both;
	}
}
@media (max-width: 1060px) {
	article .productsbox .items .item {
		float: none;
		width: auto;
		margin-right: 0px;
	}
}
article .productsbox .items .item:after {
	content: "";
	display: block;
	position: absolute;
	right: 6px;
	bottom: 6px;
	width: 0px;
	height: 0px;
	border-top: 6px solid transparent;
	border-left: 6px solid transparent;
}
@media (max-width: 1060px) {
	article .productsbox .items .item:after {
		border-top: 12px solid transparent;
		border-left: 12px solid transparent;
	}
}
article .productsbox .items .item .name {
	padding: 0px 1em 2em;
	min-height: 4.6em;
}
@media (max-width: 1060px) {
	article .productsbox .items .item .name {
		min-height: 0px;
	}
}
article .centerbox h2 {
	text-align: center;
}
@media (max-width: 1060px) {
	article .centerbox h2 {
		font-size: 38px;
	}
}
article .centerbox figure {
	text-align: center;
}
@media (min-width: 1061px) {
	article .centerbox figure.left {
		float: left;
		max-width: 350px;
		margin-right: 30px;
	}
	article .centerbox figure.right {
		float: right;
		max-width: 350px;
		margin-left: 30px;
	}
}
@media (max-width: 1060px) {
	article .centerbox figure {
		text-align: center;
	}
}
article .centerbox .more {
	clear: both;
}
article .templatebox .textbox {
	padding-bottom: 1em;
}
article .templatebox h3 {
	margin-bottom: 1.5em;
	padding: 0.5em 1em;
	font-size: 17px;
}
@media (max-width: 1060px) {
	article .templatebox h3 {
		font-size: 32px;
	}
}
article .templatebox h4 {
	margin-bottom: 0.5em;
	font-size: 19px;
}
@media (max-width: 1060px) {
	article .templatebox h4 {
		font-size: 28px;
	}
}
article .templatebox .text {
	margin-bottom: 1em;
}
article .templatebox figure {
	text-align: center;
}
@media (min-width: 1061px) {
	article .templatebox figure.left {
		float: left;
		max-width: 350px;
		margin-right: 30px;
	}
	article .templatebox figure.right {
		float: right;
		max-width: 350px;
		margin-left: 30px;
	}
}
@media (max-width: 1060px) {
	article .templatebox figure {
		text-align: center;
	}
}
article .templatebox .more + .textbox, article .templatebox .more + h3 {
	margin-top: 60px;
}
article .mapbox .mapframe iframe {
	width: 100% !important;
	margin-bottom: 40px;
	height: 450px !important;
}
article .mapbox .addr {
	font-size: 15px;
	line-height: 2;
}
@media (max-width: 1060px) {
	article .mapbox .addr {
		font-size: 24px;
	}
}
article .tablebox table {
	width: 100%;
	font-size: 15px;
}
@media (max-width: 1060px) {
	article .tablebox table {
		font-size: 24px;
	}
}
article .tablebox table th, article .tablebox table td {
	padding: 1.5em 0px;
	font-weight: normal;
}
@media (max-width: 1060px) {
	article .tablebox table th, article .tablebox table td {
		display: block;
	}
}
article .tablebox table th {
	width: 12em;
	vertical-align: top;
}
@media (max-width: 1060px) {
	article .tablebox table th {
		width: auto;
		padding-bottom: 0.5em;
		border: none !important;
	}
}
@media (max-width: 1060px) {
	article .tablebox table td {
		padding-top: 0px;
	}
}

/*-----------------------------------------------------------
	 contact
-----------------------------------------------------------*/
.contactbox .title {
	margin-bottom: 0.4em;
	font-size: 18px;
	font-weight: bold;
}
@media (max-width: 1060px) {
	.contactbox .title {
		font-size: 28px;
	}
}
.contactbox .required {
	padding-right: 0.5em;
	color: #c00;
}
.contactbox form {
	text-align: left;
}
.contactbox table {
	width: 100%;
	margin-bottom: 45px;
	border-top: 1px solid #eee;
	font-size: 14px;
}
@media (max-width: 1060px) {
	.contactbox table {
		font-size: 24px;
	}
}
.contactbox table th, .contactbox table td {
	padding: 0.7em 0px;
	border-bottom: 1px solid #eee;
}
@media (max-width: 1060px) {
	.contactbox table th, .contactbox table td {
		display: block;
	}
}
.contactbox table th {
	width: 12em;
	padding: 1em;
	vertical-align: top;
}
.contactbox table th span {
	font-weight: normal;
	font-size: 12px;
}
@media (max-width: 1060px) {
	.contactbox table th span {
		font-size: 22px;
	}
}
@media (max-width: 1060px) {
	.contactbox table th {
		width: auto;
		padding: 0.9em 0px 0px;
		border: none;
	}
}
@media (max-width: 1060px) {
	.contactbox table td {
		padding-top: 0.5em;
	}
}
.contactbox table .mt {
	margin-top: 10px;
}
.contactbox table input {
	width: 50%;
}
@media (max-width: 1060px) {
	.contactbox table input {
		width: 100%;
		padding: 15px 10px;
	}
}
@media (max-width: 1060px) {
	.contactbox table select {
		padding: 10px;
		padding-right: 2em;
	}
	.contactbox table select#item {
		width: 100%;
	}
}
.contactbox table #zip {
	width: 10em;
	margin: 0px 5px;
}
.contactbox table textarea {
	width: 100%;
	height: 18em;
}
.contactbox table .wpcf7c-conf {
	border: none !important;
	background: none !important;
	padding: 0px !important;
}
.contactbox .complete {
	text-align: center;
}
.contactbox .complete h2 {
	margin-bottom: 30px;
	padding: 90px 0px 0px;
	color: #358F18;
	font-size: 28px;
	font-weight: normal;
}
.contactbox .complete p {
	font-size: 17px;
	line-height: 2;
}
@media (max-width: 1060px) {
	.contactbox .complete p {
		font-size: 24px;
	}
}
.contactbox .wpcf7-response-output {
	padding: 40px;
}
.contactbox .send, .contactbox .home {
	text-align: center;
}
.contactbox .send input, .contactbox .home input {
	display: inline-block;
	padding: 1em 5em;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	border: none;
	background: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.contactbox .send input.wpcf7-back, .contactbox .home input.wpcf7-back {
	background: #000;
	color: #fff;
	margin-right: 1em;
}
@media (max-width: 1060px) {
	.contactbox .send input.wpcf7-back, .contactbox .home input.wpcf7-back {
		margin-right: 0px;
	}
}
@media (max-width: 1060px) {
	.contactbox .send input, .contactbox .home input {
		display: block;
		width: 100%;
		margin-bottom: 15px;
		font-size: 24px;
		text-align: center;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
}

/*-----------------------------------------------------------
	 privacy
-----------------------------------------------------------*/
#privacy .detail {
	padding: 30px 0px 60px;
}
#privacy .detail .read {
	margin-bottom: 2em;
	font-size: 14px;
	line-height: 2;
}
@media (max-width: 1060px) {
	#privacy .detail .read {
		font-size: 24px;
	}
}
#privacy .detail dt {
	padding-bottom: 0.2em;
	margin-bottom: 0.4em;
	font-size: 18px;
}
@media (max-width: 1060px) {
	#privacy .detail dt {
		font-size: 28px;
	}
}
#privacy .detail dd {
	margin-bottom: 2em;
	line-height: 2;
}
@media (max-width: 1060px) {
	#privacy .detail dd {
		font-size: 24px;
	}
}

/*-----------------------------------------------------------
	 sitemaps
-----------------------------------------------------------*/
#sitemaps .detail {
	padding: 30px 0px 60px;
}
#sitemaps .detail .list > li > a {
	display: block;
	padding: 1em 1em;
	font-size: 16px;
}
@media (max-width: 1060px) {
	#sitemaps .detail .list > li > a {
		font-size: 28px;
	}
}
#sitemaps .detail .list ul.children li {
	display: inline-block;
}
@media (max-width: 1060px) {
	#sitemaps .detail .list ul.children li {
		display: block;
		margin: 1.5em;
	}
}
#sitemaps .detail .list ul.children li a {
	display: block;
	padding: 1.5em 1em;
	margin-right: 1em;
}
@media (max-width: 1060px) {
	#sitemaps .detail .list ul.children li a {
		padding: 0px;
		margin: 0px;
	}
}



/*# sourceMappingURL=style.css.map */
